<!doctype html>
<html>
<head>
	<title>Discover</title>
	<!--<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mapbox.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='mapbox.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='leaflet-realtime.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
</head>
<body>
	<h1>Discover</h1>
	<div id="map"></div>
	<script>
	var socket = io.connect('http://' + document.domain + ':' + location.port + '/ws');

	L.mapbox.accessToken = 'pk.eyJ1IjoiY29ybnUiLCJhIjoiNXRVVk9RUSJ9.DOVqqIN-DRO11BdG79qIzQ';
	var map = L.mapbox.map('map', 'cornu.ld81c45l').setView([51.05, 13.735], 12);

	var realtime = L.realtime(undefined, {
		getFeatureId: function(f) { return f.id; },
		start: false
	}).addTo(map);

	socket.on('data', function(d) {
		geo = JSON.parse(d)
		realtime.update(geo);

		var p = document.createElement("p");
	});

	</script>
</body>
</html>
