<!doctype html>
<html>
<head>
	<title>Discover</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
</head>
<body>
	<h1>Discover</h1>
	<div id=log></div>
	<script>
	var socket = io.connect('http://' + document.domain + ':' + location.port + '/ws');
	socket.on('data', function(d) {
		<!--console.log(d);-->
		var p = document.createElement("p");
		
		p.innerHTML = "Event in (" + d.data.x + ":" + d.data.y + ") at " + d.data.time+ " with intensity " + d.data.intensity;
		document.getElementById("log").appendChild(p);
		<!--socket.emit('my event', {data: 'I\'m connected!'});-->
	});
	</script>
</body>
</html>
